.ProjectPage {
  display: flex;
  flex: 1;
  gap: 8px;
}

.ProjectPage__container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.ProjectPage__mainInfo{
  display: flex;
  gap: 8px;
  padding: 8px 16px;
}

.ProjectPage__meta {
  background-color: #efefef;
  flex-grow: 3;
  padding: 8px;
  border-radius: 8px;
}

.ProjectPage__components{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ProjectPage__members{
  background-color: #efefef;
  display: flex;
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  flex-direction: column;
}

.ProjectPage__notifiactions {
  background-color: #efefef;
  display: flex;
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  flex-direction: column;
}

.ProjectPage__toolbar {
  display: flex;
  padding: 8px 16px 0;
  gap: 16px;
}

.ProjectPage__toolbarItem {
  padding: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid #aeaeae
}

.ProjectPage__goBack {
  
}

.ProjectPage__title { 
  font-size: 32px;
  font-weight: 700;
}

.ProjectPage__description {
  font-size: 16px;
  font-weight: 500;
}

.ProjectPage__tickets {
  padding: 0 16px;
}