.Register {
  flex-grow: 1;
  display: flex;
}

.Register__container {
  margin: auto;
  border-radius: 10%;
  border: 1px solid rgb(206, 206, 206);
  padding: 16px;
  min-width: 320px;
}

.Register__submit {
  display: flex;
  margin: auto;
}

.Register__linkContainer {
  display: flex;
  justify-content: center;
}

.Register__link {
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 400;
}