.Header {
  min-height: 50px;
  border-bottom: 1px solid rgba(198, 197, 197, 0.815);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.Header__container {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.Header__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 14px;
}

.Header__link:hover {
  color:#9c9c9c;
}